<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>营销活动调查反馈</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<link rel="stylesheet" href="css/icon.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
	</head>

	<body>

		<form id="feedbackinfo" method="post">

			<header class="ui-header ui-header-positive ui-border-b">
				<i class="ui-icon-return" onclick="history.back()"></i>
				
				<div class="ui-row">
 					<div class="ui-col ui-col-80"><h1>国庆免费试听活动-调查返回</h1></div>
    				<div class="ui-col ui-col-20"><a href="javascript:gomarketingentry();"><div class="ui-badge-muted">回首页</div></a></div>		    			
    			</div>
    			
			</header>
			<br />
			<br />

			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">标题</label></div>
					<div class="weui-cell__bd">
						<input name="feedbackname" class="weui-input" type="text" value="产品反馈" />
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">内容</label></div>
					<div class="weui-cell__bd">
						<input name="feedbackcontent" class="weui-input" type="text" placeholder="反馈内容" />
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd"><label for="" class="weui-label">提出时间</label></div>
					<div class="weui-cell__bd">
						<input name="feedbacktime" class="weui-input" type="date" />
						<script language="JavaScript">
							today = new Date();
							feedbackinfo.feedbacktime.value = today.getYear() + '年' + today.getMonth() + '月' + today.getDay() + '日';
						</script>
					</div>
				</div>

			</div>
			<br />

			<div class="page__bd page__bd_spacing">
				<div class="button-sp-area">
					<a class="page-btn page-btn_primary" href="javascript:setfeedbackinfo();">新增</a>
					<input type="hidden" id="memberid" value="1" />
				</div>
			</div>

		</form>
		<script type="text/javascript">
			//返回营销活动入口
			function gomarketingentry() {

				$.ajax({
					type: 'get',
					url: 'marketingentry',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'marketingentry';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}
			
		</script>

	</body>

</html>