<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>营销活动调查反馈</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
	</head>

	<body>
		<form id="signupservey" method="post">
			<header class="ui-header ui-header-positive ui-border-b">
				
				<i class="ui-icon-return" onclick="history.back()"></i>
				
				<div class="ui-row">
 					<div class="ui-col ui-col-80"><h1>营销活动调查反馈</h1></div>
    				<div class="ui-col ui-col-20"><a href="javascript:gomarketingentry();"><div class="ui-badge-muted">回首页</div></a></div>		    			
    			</div>

			</header>
			<br />

			<div class="page__bd">

				<article class="weui-article">
	
					<div class="weui-cells weui-cells_form">

						<div class="ui-row">
 							<div class="ui-col ui-col-80"><h5>参与调查后，以后有类似活动，将优先通知将优先通知将优先通知将优先通知将优先通知将优先通知你</h5></div>
    						<div class="ui-col ui-col-20"><a href="javascript:gobackmarktingindex();" class="weui-btn weui-btn_mini weui-btn_default">放弃</a></div>		    			
    					</div>

					</div>
					
					<div class="weui-cells weui-cells_form">
		
						<h3>请填写下面问题，并提交。。。。</h3>
						
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />


					</div>
					<div id="searchresult"></div>
					<br />
	
				</article>


				<div class="weui-cell weui-cell_vcode">
					<div id="searchresult"></div>
				</div>
				
			</div>
		</form>

		<div class="page__bd page__bd_spacing">
			<div class="page-btn-area">
				<a class="page-btn page-btn_primary" href="javascript:gobackmarktingindex()">提交</a>
					<input type="hidden" id="followid" name="followid" value="1" />
					<input type="hidden" id="membertel" name="membertel" value="2" />
			</div>
		</div>

		

		<div class="weui-footer">
			<br />
			<br />
			<p class="weui-footer__links">
				<a href="javascript:;" class="weui-footer__link">关于我们</a>
			</p>
			<p class="weui-footer__text">Copyright &copy; 2007-2017 XXXXX</p>
		</div>


		<script type="text/javascript">
			//提交问卷后，返回本次活动首页
			function gobackmarktingindex() {

				$.ajax({
					type: 'get',
					url: 'marketingindex',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'marketingindex';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}		
			//提交问卷后，返回本次活动首页
			function gobackmarktingindex() {

				$.ajax({
					type: 'get',
					url: 'marketingindex',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'marketingindex';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}	
			//返回营销活动入口
			function gomarketingentry() {

				$.ajax({
					type: 'get',
					url: 'marketingentry',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'marketingentry';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}
			
		</script>
	</body>

</html>