<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>活动报名</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
	</head>

	<body>

		<form id="marketingsignup" method="post">
		
			<header class="ui-header ui-header-positive ui-border-b">
				
				<i class="ui-icon-return" onclick="history.back()"></i>
				
				<div class="ui-row">
 					<div class="ui-col ui-col-80"><h1>国庆免费试听活动 - 活动报名</h1></div>
    				<div class="ui-col ui-col-20"><a href="javascript:gomarketingentry();"><div class="ui-badge-muted">回首页</div></a></div>		    			
    			</div>

			</header>
			<br />
			<br />
			
			<article class="weui-article">

				<div class="weui-cells weui-cells_form">
	
					<h3>本次营销活动介绍：XXXXXXXXXXXXXX</h3>
					<h3>时间安排：XXXXXXXXXXXXXX</h3>
					<h3>地点：XXXXXXXXXXXXXX</h3>
					
					<div id="searchresult"></div>
					<br />
					
					
				</div>

			</article>

			<div class="page__bd page__bd_spacing">
				<div class="page-btn-area">
					<a class="page-btn page-btn_primary" href="javascript:gosignupsurvey();">我要报名</a>
					<br />
					<a class="page-btn page-btn_default" href="javascript:gosignupcancel();">取消报名</a>
					<input type="hidden" id="cdid" value="1" />
				</div>
			</div>

		</form>

		<div class="weui-footer">
			<br />
			<br />
			<p class="weui-footer__links">
				<a href="javascript:;" class="weui-footer__link">关于我们</a>
			</p>
			<p class="weui-footer__text">Copyright &copy; 2007-2017 XXXXX</p>
		</div>

		

		<script type="text/javascript">
			//进入调查问卷页面
			function gosignupsurvey() {

				$.ajax({
					type: 'get',
					url: 'signupsurvey',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'signupsurvey';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}		
			
			//提交问卷后，返回本次活动首页
			function gosignupcancel() {

				$.ajax({
					type: 'get',
					url: 'signupcancel',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'signupcancel';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}	
			//返回营销活动入口
			function gomarketingentry() {

				$.ajax({
					type: 'get',
					url: 'marketingentry',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'marketingentry';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}

		</script>
	</body>

</html>