<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.wei.dao.InteracDataToInteracTypeDao">
  <resultMap id="BaseResultMap" type="com.bp.wei.model.InteracDataToInteracType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="ec1_interab268on_type_ida" jdbcType="VARCHAR" property="ec1Interab268onTypeIda" />
    <result column="ec1_intera3de5on_data_idb" jdbcType="VARCHAR" property="ec1Intera3de5onDataIdb" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date_modified, deleted, ec1_interab268on_type_ida, ec1_intera3de5on_data_idb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ec1_interaction_data_ec1_interaction_type_c
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ec1_interaction_data_ec1_interaction_type_c
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insertInteractionDataToQuestion" parameterType="com.bp.wei.model.InteracDataToInteracType">
    insert into ec1_interaction_data_ec1_interaction_type_c (id, date_modified, deleted, 
      ec1_interab268on_type_ida, ec1_intera3de5on_data_idb
      )
    values (uuid(), now(), "0",
      #{ec1Interab268onTypeIda,jdbcType=VARCHAR}, #{ec1Intera3de5onDataIdb,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <insert id="insert" parameterType="com.bp.wei.model.InteracDataToInteracType">
    insert into ec1_interaction_data_ec1_interaction_type_c (id, date_modified, deleted, 
      ec1_interab268on_type_ida, ec1_intera3de5on_data_idb
      )
    values (#{id,jdbcType=VARCHAR}, #{dateModified,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{ec1Interab268onTypeIda,jdbcType=VARCHAR}, #{ec1Intera3de5onDataIdb,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bp.wei.model.InteracDataToInteracType">
    insert into ec1_interaction_data_ec1_interaction_type_c
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="ec1Interab268onTypeIda != null">
        ec1_interab268on_type_ida,
      </if>
      <if test="ec1Intera3de5onDataIdb != null">
        ec1_intera3de5on_data_idb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="ec1Interab268onTypeIda != null">
        #{ec1Interab268onTypeIda,jdbcType=VARCHAR},
      </if>
      <if test="ec1Intera3de5onDataIdb != null">
        #{ec1Intera3de5onDataIdb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bp.wei.model.InteracDataToInteracType">
    update ec1_interaction_data_ec1_interaction_type_c
    <set>
      <if test="dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="ec1Interab268onTypeIda != null">
        ec1_interab268on_type_ida = #{ec1Interab268onTypeIda,jdbcType=VARCHAR},
      </if>
      <if test="ec1Intera3de5onDataIdb != null">
        ec1_intera3de5on_data_idb = #{ec1Intera3de5onDataIdb,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bp.wei.model.InteracDataToInteracType">
    update ec1_interaction_data_ec1_interaction_type_c
    set date_modified = #{dateModified,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      ec1_interab268on_type_ida = #{ec1Interab268onTypeIda,jdbcType=VARCHAR},
      ec1_intera3de5on_data_idb = #{ec1Intera3de5onDataIdb,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>